<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block js %}
    <script>
    var response = {'q1':[]}
    function acheck(){
        if ($("input:checked").each(function(){return this.id}).get().length !== 0 && $("#jarinfo").val() !== ''){
            $('#cont_butt').removeClass("disabled")
        }
    }

    function arraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length !== b.length) return false;

        // If you don't care about the order of the elements inside
        // the array, you should sort both arrays here.
        // Please note that calling sort on an array will modify that array.
        // you might want to clone your array first.

        for (var i = 0; i < a.length; ++i) {
            if (a.sort()[i] !== b[i]) return false;
        }
  return true;
}




    function submitData(){
        //var draw = $("input:checked").each(function(){return this.id}).get()
        response['subject_id'] =  new URLSearchParams(window.location.search).get('PID')
        response['q1'] = $('input[type="checkbox"]:checked').map(function() {return $(this).val();}).get().sort();

        response['q2'] = $("#jarinfo").val()
        if (arraysEqual(response['q1'], ['check1', 'check2', 'check4', 'check6'])){
            $.ajax({
                 type: "POST",
                 url:window.location.pathname,
                 data: JSON.stringify(response),
                 traditional: true,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function(){window.location.pathname='/begin'}
        })
        }
        else {window.location.pathname = '/oops'}
    }

    </script>
{% endblock %}

{% block stage %}
    <div class="row">
        <div class="col">
            <p class="text-center" style="font-size: xx-large;">Please answer the following questions to ensure comprehension. </p>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="row justify-content-center">
                <img src="{{ im5 }}" style="width: 30vw;">
            </div>
        </div>
        <div class="col" style="align-self: center;">
            <div class="row">
                <p class="text-center" style="font-size: x-large;">Select all the draws that lead to winning. </p>
            </div>
            <br></br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check1" id="check1" oninput="acheck();">
                <label class="form-check-label" for="flexCheckDefault">jar A: Red , jar B: Blue , jar C: Blue</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check2" id="check2" oninput="acheck();">
                <label class="form-check-label" for="flexCheckChecked">jar A: Red , jar B: Blue , jar C: Red</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check3" id="check3" oninput="acheck();">
                <label class="form-check-label" for="flexCheckChecked">jar A: Blue , jar B: Blue , jar C: Blue</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check4" id="check4" oninput="acheck();">
                <label class="form-check-label" for="flexCheckChecked">jar A: Red , jar B: Red , jar C: Red</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check5" id="check5" oninput="acheck();">
                <label class="form-check-label" for="flexCheckChecked">jar A: Blue , jar B: Blue , jar C: Blue</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check6" id="check6" oninput="acheck();">
                <label class="form-check-label" for="flexCheckChecked">jar A: Blue , jar B: Red , jar C: Red</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center" style="font-size: x-large;">What information is shown about each jar?</p>
        </div>
        <div class="col"><input id="jarinfo" style="width: 35vw;" oninput="acheck()"></div>
    </div>
    <div class="row justify-content-center">
            <div class="col-sm-2">
                <a href="#" type="button" id="cont_butt" class="btn btn-primary btn-lg disabled" style="font-size: large;" onclick="submitData()">Continue</a>
            </div>
    </div>

{% endblock %}
</html>