<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block js %}
<script>
    var response = {}
    var s_dat = {
        subject_id: new URLSearchParams(window.location.search).get('PID'),
        trial: new URLSearchParams(window.location.search).get('TRL'),
        p_c1: {{ p[0] }},
        p_c2: {{ p[1] }},
        p_c3: {{ p[2] }}
    }

    function submitData(){
        $.ajax({
                 type: "POST",
                 url:window.location.pathname,
                 data: JSON.stringify(Object.assign(s_dat, response)),
                 traditional: true,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function(){window.location.pathname = '/iti'; console.log('data sent from client')}
        })

    }
</script>
{% endblock %}

{% block stage %}
    <div class="row justify-content-center">
        <div class="col-md-1">Progress:</div>
        <div class="col-md-1" style="text-align: right;">0</div>
        <div class="col-md-7"><input type="range" value="{{ trl }}" min=0 max=100" style="width: -webkit-fill-available;" id="progress"></div>
        <div class="col-md-1">100%</div>
        <script>
            var $rs = $('#progress')
            $rs.rangeslider({
                polyfill: true,
                onInit:function(){},
                onSlide: function (){}
            })
        </script>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col">
                <h3> Outcomes needed to win: </h3>
            </div>
            <div class="col">
                <img src="../static/stim/win2.gif" style="width: -webkit-fill-available;">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <h1>Rate the extent to which you think each jar caused the winning outcome...</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        {% for rate in jars %}
            <div class="row">
                <div class="col-sm-2 text-right"><h3>Jar {{ rate|string }}</h3></div>
                <div class="col-sm-2" id="slide_val_{{ rate }}" style="text-align: left;"><h3></h3></div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4"><img src="../static/stim/t_{{ p[loop.index - 1]|safe }}.png" style="height: 20vh;"></div>
                <div class="col-lg-8" style="opacity: 0;">
                    <div class="row align-items-center">
                        <div class="col-sm-1"><p style="text-align: left; font-size: xx-large;">0</p></div>
                        <div class="col-sm-9"><input type="range" value="50" min=0 max=100" style="width: 26vw;" id="jar{{ rate }}"></div>
                        <div class="col-sm-1"><p style="text-align: left; font-size: xx-large;">100</p></div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-sm-5 text-left" style="text-align: left;"><p>Not at all responsible</p></div>
                        <div class="col-sm-5 text-right" style="text-align: right;"><p>Completely responsible</p></div>
                    </div>
                </div>
            </div>
            <hr>
            <script>
                var $rangeslider = $('#jar{{ rate }}')
                response.q_{{ loop.index }} = []
                $rangeslider.rangeslider({
                    polyfill: false,
                    onInit: function () {},
                    onSlide:function(){$('#slide_val_{{ rate }} h3').text(': '+ String(parseInt(this.value)))},
                    onSlideEnd: function () {
                        response.q_{{ loop.index }}.push(parseInt(this.value));
                        if (Object.values(response).every(a => a.length >= 1)){$('#cont_butt').removeClass("disabled")}

                    }
                })
            </script>

        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-sm-2">
                <a href="#" type="button" id="cont_butt" class="btn btn-primary btn-lg disabled" style="font-size: large;" onclick="submitData()">Continue</a>
            </div>
        </div>
    </div>

{% endblock %}

</html>