<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block js %}
<script>
    var response = {}
    var s_dat = {
        subject_id: new URLSearchParams(window.location.search).get('PID'),
        trial: new URLSearchParams(window.location.search).get('TRL'),
        p_c1: {{ p[0] }},
        p_c2: {{ p[1] }},
        p_c3: {{ p[2] }}
    }

    function submitData(){
        $.ajax({
                 type: "POST",
                 url:window.location.pathname,
                 data: JSON.stringify(Object.assign(s_dat, response)),
                 traditional: true,
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function() {
                     if ({{ tcheck }} === 1) {
                         window.location.pathname = '/trial_chk'
                     } else { window.location.pathname = '/iti';
                         console.log('data sent from client')
                     }
                 }
        })

    }
    var spacepress = 0
    document.addEventListener("keypress",
    function(event){if (event.key === " "){
        spacepress++
        if (spacepress === 1){$('.outcome').css('opacity', 1).toggleClass('animated bounceInUp')}
        else if (spacepress === 2){
            $('.judgement').css('opacity', 1)
            $("#instr").html('<div class="row justify-content-center"><div class="col-sm-2"><a href="#" type="button" ' +
                'id="cont_butt" class="btn btn-primary btn-lg disabled" style="font-size: large;" onclick="submitData()">Continue</a> </div> </div>')
        }
    }})

</script>
{% endblock %}

{% block stage %}
    <div class="row justify-content-center">
        <div class="col-md-1">Progress:</div>
        <div class="col-md-1" style="text-align: right;">0</div>
        <div class="col-md-7"><!-input type="range" value="{{ trl }}" min=0 max="{{ max_t|safe }}" style="width: -moz-available;" id="progress"-->
            <progress id="file" max="{{ max_t|safe }}" value="{{ trl }}" style="width: -webkit-fill-available;"> 70% </progress>
        </div>

        <div class="col-md-1">100%</div>
        <script>
            var $rs = $('#progress')
            $rs.rangeslider({
                polyfill: true,
                onInit:function(){},
                onSlide: function (){}
            }).val({{ trl }})
        </script>
    </div>
    <br><br>
    <div class="row justify-content-between">
        <div class="col-lg-2 text-center"><p style="font-size: xx-large;">Probabilities</p></div>
        <div class="col-lg-2 text-center"><p style="font-size: xx-large;">Draw</p></div>
        <div class="col-lg-7 text-center"><p style="font-size: xx-large;">Judgement</p></div>
    </div>


    {% for rate in jars %}
        <div class="row justify-content-between" style="width: -moz-available;">
            <div class="col-lg-2 animated bounceInLeft text-center" >
                <div class="row"><p style="font-size: larger; text-align: center;">Jar {{ rate }}</p></div>
                <img src="../static/stim/p_{{ p[loop.index - 1]|safe }}.png" style="height: 17vh;">
            </div>
            <div class="col-lg-2 outcome text-center"  style="opacity: 0; align-self: end;">
                <div class="row"><p style="font-size: larger; text-align: center;">Jar {{ rate }}</p></div>

                <img src="../static/stim/draw_{{ p[loop.index - 1]|safe }}a.gif" style="width: 17vh;">
            </div>
            <div class="col-lg-7 judgement" style="opacity: 0;">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-10 text-right"><p style="font-size: x-large">This player won the lottery because they drew a red ball from Jar {{ rate|string }}.</p></div>
                        <div class="col-sm-2" id="slide_val_{{ rate }}" style="text-align: left; color: orange;"><h3></h3></div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-10" style="opacity: 1;">
                            <div class="row align-items-center">
                                <div class="col-sm-1"><p style="text-align: left; font-size: large;">0</p></div>
                                <div class="col-sm-9"><input type="range" value="50" min=0 max=100" style="width: 26vw;" id="jar{{ rate }}"></div>
                                <div class="col-sm-1"><p style="text-align: right; font-size: large;">100</p></div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-sm-5 text-left" style="text-align: left;"><p>Completely Disagree</p></div>
                                <div class="col-sm-5 text-right" style="text-align: right;"><p>Completely Agree</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
                var $rangeslider = $('#jar{{ rate }}')
                response.q_{{ loop.index }} = []
                $rangeslider.rangeslider({
                    polyfill: false,
                    onInit: function () {},
                    onSlide:function(){$('#slide_val_{{ rate }} h3').text(': '+ String(parseInt(this.value)))},
                    onSlideEnd: function () {
                        response.q_{{ loop.index }}.push(parseInt(this.value));
                        if (Object.values(response).every(a => a.length >= 1)){$('#cont_butt').removeClass("disabled")}

                    }
                })
            </script>

        <hr>
    {% endfor %}
    <div class="row justify-content-center" id="instr">
        <p style="text-align: center; font-size: large;">Press the space bar to continue</p>
    </div>

{% endblock %}

</html>